#heading{
    text-align: center;
}
.main-container{
    text-align: center;
    padding: 40px;
    border: 2px solid black;
    background-color: aqua;
    height: 150px;
   

}
.inp{
    display: inline-block;
    margin: 5px;
}
#celcius{
    padding:10px;
    font-weight: bolder;
   
    
}
#farhen{
    padding:10px;
    font-weight: bolder;
}
#cel{
    font-size: 20px;
    font-weight: bolder;
    
    
   

    
}
#far{
    font-size: 20px;
    font-weight: bolder;
   

}
